body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right, #e7e7e7, #dbdbdb, #c3c5c5);
    font-family: Inter, sans-serif;
}

#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#content {
    position: relative;
    z-index: 1;
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    /* background-color: #fff; */
}

#gray-div,
#black-div {
    /* position: absolute; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 50%;
    
}

#gray-div {
    background: linear-gradient(to right, #e7e7e7, #dbdbdb, #c3c5c5);
    width: 100vw;
}

#black-div {
    background: linear-gradient(to right, #e7e7e7, #dbdbdb);
    width: 50vw; /* Set the width to 50% of the viewport width */
}

#top-sect {
    /* background: linear-gradient(to right, #e7e7e7, #dbdbdb, #c3c5c5); */
    /* color: black; */
    /* padding: 32px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    height: 60vh;
    width: 100vw;
}
#navbar {
    background: linear-gradient(to right, #e7e7e7, #dbdbdb, #c3c5c5);
    color: black;
    padding:32px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 95vw;
}

#navtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    height: 16px;
    width: 16px;
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    border: 8px solid #965ec6; /* Set the border width and color */
    background-color: transparent;
}

#navbar-title {
    font-size: 1.3em;
    padding: 0 10px;
}

#navbar-options {
    display: flex;
}

.navbar-option {
    margin-right: 15px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}

#cta-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#tertiary-button {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.rect {
    position: relative;
    overflow: hidden;
    /* background-color: red; */
    background: linear-gradient(to right, #e7e7e7, #d2d4d4);
    height: 40%;
    width: 70vw;
    display: flex;
    flex-direction: row;
}

.fd{
    align-items: start;
    /* margin-top: -40px; */
}
.first-deliv{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: -40px; */
}

.fd_icon{
    height: 48px;
    width: 48px;
    border-radius: 20%; /* Make it a circle by setting border-radius to 50% */
    border: 1px solid #ffffff; /* Set the border width and color */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.right-action {
    height: 24px;
    width: 24px;
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
   /* Set the border width and color */
    background-color: white;
    margin-left: -12px;
    margin-right: 12px;
    z-index: 2;
    text-align: center;
    

}

.ar{
    position: absolute;
    margin-left: -6.5px;
    margin-top: 2.5px;
    font-size: 14px;
}

.rect2 {
    /* background-color: blue; */
    height: 40%;
    width: 70vw;
    /* overflow: hidden; */
}

span {
    
    /* position: relative; */
    /* animation: slideIn 0.5s forwards ; */ */
   
    /* transform: translateY(0px); */
    /* transition: opacity 0.5s, transform 0.5s; */
    /* animation: fadeInUp 0.6s ease-out 1s forwards;  */
}

.animated-text, #animated-text2 {
   
  
    font-size: 74px;
    font-weight: 500;
    padding: 0 32px;
    
    
  }
  
.animated-text{
    animation: slideIn 2s forwards;
    margin-top: -44px;
    
}
#animated-text2{
    display: block; 
    opacity: 0;
    margin-top: -36px;

    animation: slideIn2 2s forwards 1s;
}
#animated-text3{
    display: block; 
    opacity: 0;
    padding: 0 35px;
    animation: slideIn3 1.5s forwards 0.5s;
    margin-top: -28px;
    /* margin-bottom: 16px; */
}

  @keyframes slideIn {
    to {
     
      transform: translateY(20%);
    }
    from {
     
      transform: translateY(200%);
    }
  }
  @keyframes slideIn2 {
    to {
     opacity: 1;
      transform: translateY(-50%);
    }
    from {
     opacity: 0;
      transform: translateY(30%);
    }
  }
  @keyframes slideIn3 {
    to {
     opacity: 1;
      transform: translateX(0);
    }
    from {
     opacity: 0;
      transform: translateX(-20%);
    }
  }


#buttons2{
    /* position: relative; */
    /* background-color: green; */
    margin-left: 32px;
    margin-top: 28px;

}

#secondary-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    
}


#card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 300px;
    height: 160px;
    border: 1px solid #ccc;
    box-shadow: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha channel for transparency */
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    animation: fadeInUp 0.6s ease-out 1s forwards;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-content {
    color: #555;
}

.card-button {
    background-color: #3498db;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}